@model Entities.GetSingleOrderdetails;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .product_width {
        max-width: 80px;
        max-height: 80px;
    }

    .ft-15 {
        font-size: 1.5rem !important;
    }

    @@media screen and (max-width: 780px) {
        #add-listing-tab {
            display: none;
        }
    }
    #add-listing-tab .step-steps > li {
        flex: 0 0 14%!important;
        max-width: 14%!important;
    }
</style>

<link href="~/orderassets/assets/css/bootstrap.min.css" rel="stylesheet">
<!-- Swiper Slider -->
<link href="~/orderassets/assets/css/swiper.min.css" rel="stylesheet">
<!-- Range Slider -->
<link href="~/orderassets/assets/css/ion.rangeSlider.min.css" rel="stylesheet">
<!-- Custom Stylesheet -->
<link href="~/orderassets/assets/css/style.css" rel="stylesheet">
<!-- Custom Responsive -->
<link href="~/orderassets/assets/css/responsive.css" rel="stylesheet">

<div id="header-bottom-wrap" class="is-clearfix">
    <div id="header-bottom" class="site-header-bottom">
        <div id="header-bottom-inner" class="site-header-bottom-inner ">
            <section class="hero slider is-clearfix ">
                <div style="background-image: url('/app-images/home.jpg');background-repeat: no-repeat;background-size: cover;height: 200px;position: relative;background-position: center center;">
                </div>
                <div style="position: absolute;width: 100%;height: 100%;background-color: #000000;opacity: 0.5;transition: background 0.3s, border-radius 0.3s, opacity 0.3s;">
                </div>
                <div style="text-align: center;position: absolute;width: 100%;">
                    <h2 style="color: #fff;font-size: 36px;margin-top: 138px;font-family: 'LIBRE FRANKLIN', sans-serif;" class="">Order Details </h2>
                </div>
            </section>
            <!-- .slider -->
        </div>
        <!-- #header-bottom-inner -->
    </div>
    <!-- #header-bottom -->
</div>

<div id="content-main-wrap" class="is-clearfix">
    <div id="content-area" class="site-content-area">
        <div id="content-area-inner" class="site-content-area-inner">
            <div class="container py-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tracking-sec w-100">
                            <div class="tracking-details padding-20 p-relative w-100">
                                @if (Model.Status == Entities.Enum.OrderStatus.Delivered)
                                {
                                    
                                }
                                else
                                {
                                    <span class="text-light-white">Estimated Delivery time</span>
                                    <h2 class="text-light-black fw-700 no-margin">35-40 mins</h2>
                                }
                                @if (Model.Status == Entities.Enum.OrderStatus.OnTheWay)
                                {
                                    <img src="~/61198-delivery-service.gif" width="120" class="d-flex m-auto" />

                                }
                                else if (Model.Status == Entities.Enum.OrderStatus.Delivered)
                                {
                                    <img src="~/order_complete.gif" style="width:200px;" class="d-flex m-auto" />
                                }
                                else
                                {
                                    <img src="~/assets/images/menu/animation_200_kymuccx2.gif" width="120" class="d-flex m-auto" />
                                }
                                <p class="text-light-black fw-700 no-margin text-center">@Model.Status</p>

                                <div id="add-listing-tab" class="step-app">
                                    <ul class="step-steps">
                                        @{
                                            var s = "done";
                                            s = Model.Status == Entities.Enum.OrderStatus.Waiting ? "active" : s;
                                        }
                                        <li class="@s">
                                            <a href="javascript:void(0)">
                                                <span class="number"></span>
                                                <span class="step-name">Waiting</span>
                                            </a>
                                        </li>
                                        @{
                                            var p = "";
                                            p = Model.Status == Entities.Enum.OrderStatus.Cooking ? "active" : (int)Model.Status > 1 ? "done" : p;
                                        }
                                        <li class="@p">
                                            <a href="javascript:void(0)">
                                                <span class="number"></span>
                                                <span class="step-name">In process</span>
                                            </a>
                                        </li>
                                        @{
                                            var r = "";
                                            r = Model.Status == Entities.Enum.OrderStatus.ReadyForPacking ? "active" : (int)Model.Status > 2 ? "done" : r;
                                        }
                                        <li class="@r">
                                            <a href="javascript:void(0)">
                                                <span class="number"></span>
                                                <span class="step-name">Ready for pack</span>
                                            </a>
                                        </li>
                                        @{
                                            var pac = "";
                                            pac = Model.Status == Entities.Enum.OrderStatus.Packing ? "active" : (int)Model.Status > 3 ? "done" : pac;
                                        }
                                        <li class="@pac">
                                            <a href="javascript:void(0)">
                                                <span class="number"></span>
                                                <span class="step-name">Packing</span>
                                            </a>
                                        </li>
                                        @{
                                            var rd = "";
                                            rd = Model.Status == Entities.Enum.OrderStatus.ReadyToDeliver ? "active" : (int)Model.Status > 4 ? "done" : rd;
                                        }
                                        @{
                                            var o = "";
                                            o = Model.Status == Entities.Enum.OrderStatus.OnTheWay ? "active" : (int)Model.Status > 5 ? "done" : o;
                                        }
                                        @if (Model.Type == Entities.Enum.OrderType.Delivery)
                                        {

                                            <li class="@rd">
                                                <a href="javascript:void(0)">
                                                    <span class="number"></span>
                                                    <span class="step-name">Ready To Deliver</span>
                                                </a>
                                            </li>
                                            <li class="@o">
                                                <a href="javascript:void(0)">
                                                    <span class="number"></span>
                                                    <span class="step-name">On the way</span>
                                                </a>
                                            </li>
                                        }
                                        @{
                                            var d = "";
                                            d = Model.Status == Entities.Enum.OrderStatus.Delivered ? "active" : o;
                                        }
                                        <li class="@d">
                                            <a href="javascript:void(0)">
                                                <span class="number"></span>
                                                <span class="step-name">Delivered</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <!-- recipt -->
                        <div class="recipt-sec padding-20">
                            <div class="recipt-name title u-line full-width mb-xl-20">
                                <div class="recipt-name-box">
                                    <h5 class="text-light-black fw-600 mb-2">#@Model.OrderId</h5>
                                    <p class="text-light-white ">Estimated Delivery time</p>
                                </div>
                                @if (Model.Status == Entities.Enum.OrderStatus.Delivered)
                                {
                                    <p>Delivered</p>
                                }
                                else
                                {
                                    <div class="countdown-box">
                                        <div class="time-box">
                                            <span id="mb-hours"></span>
                                        </div>
                                        <div class="time-box">
                                            <span id="mb-minutes"></span>
                                        </div>
                                        <div class="time-box">
                                            <span id="mb-seconds"></span>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="u-line mb-xl-20">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="recipt-name full-width padding-tb-10 pt-0">
                                            <h5 class="text-light-black fw-600">Delivery (ASAP) to:</h5>
                                            <span class="text-light-white ">@Model.Address</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="recipt-name full-width padding-tb-10 pt-0">
                                            <h5 class="text-light-black fw-600">Note</h5>
                                            <p class="text-light-white ">@Model.Note</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="ad-banner padding-tb-10 h-100">
                                            <img src="~/assets/images/menu/banner.jpg" class="img-fluid full-width" alt="banner-adv">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="u-line mb-xl-20">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h5 class="text-light-black fw-600 title ft-15">Your Order</h5>
                                        <p class="title font-19 text-light-white ft-15">
                                            @Model.CreatedAt <span class="text-light-black">Order #@Model.OrderId</span>
                                        </p>
                                    </div>
                                    <div class="col-lg-12 mt-3">
                                        @foreach (var i in Model.AllProducts)
                                        {
                                            <div class="checkout-product">
                                                <div class="img-name-value">
                                                    <div class="product-img">
                                                        <a href="#">
                                                            <img src="@i.productImage" class="product_width" alt="#">
                                                        </a>
                                                    </div>
                                                    <div class="product-name ml-2">
                                                        <span><a href="#" class="text-light-white"><span class="text-light-white">@i.quantity</span> @i.productName</a></span>
                                                        @foreach (var a in i.ingredientList)
                                                        {
                                                            <div class="flex-row">
                                                                <small class="text-muted"><b><i class="fas fa-circle font-8 mr-2"></i> @a.ingredientName: </b></small> <small class="ml-2">@a.quantity Qty</small>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="price">
                                                    <span class="text-light-white">$@i.total_price</span>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="payment-method mb-md-40">
                                        <h5 class="text-light-black fw-600">Payment Method</h5>
                                        <div class="method-type">
                                            <i class="far fa-credit-card text-dark-white"></i>
                                            <span class="text-light-white">Credit Card</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="price-table u-line">
                                        <div class="item">
                                            <span class="text-light-white">Item subtotal:</span>
                                            <span class="text-light-white">$@Model.SubTotal</span>
                                        </div>
                                        <div class="item">
                                            <span class="text-light-white">Delivery fee:</span>
                                            <span class="text-light-white">$@Model.DeliveryCharges</span>
                                        </div>
                                        <div class="item">
                                            <span class="text-light-white">Service Charges:</span>
                                            <span class="text-light-white">$@Model.ServiceCharges</span>
                                        </div>
                                    </div>
                                    <div class="total-price padding-tb-10">
                                        <h5 class="title text-light-black fw-700 ft-15">Total: <span>$@Model.TotalPrice</span></h5>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Popper -->
<script src="~/orderassets/assets/js/popper.min.js"></script>
<!-- Bootstrap -->
<script src="~/orderassets/assets/js/bootstrap.min.js"></script>
<!-- Range Slider -->
<script src="~/orderassets/assets/js/ion.rangeSlider.min.js"></script>
<!-- Swiper Slider -->
<script src="~/orderassets/assets/js/swiper.min.js"></script>
<script src="~/orderassets/assets/js/quickmunch.js"></script>