@inject piano_pizza.Resources.LocalizationService local
@{
    ViewBag.Title = "Category";
    Layout = "~/Areas/SuperAdmin/Views/Shared/_Layout.cshtml";
}

<link href="~/assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css" rel="stylesheet" />



<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-12">
                <h2>
                    @local.GetLocalizedHtmlString("CategoriesDetail")
                </h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">

        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        <button type="button" class="btn btn-default waves-effect m-r-20" data-toggle="modal" data-target="#addcategory">@local.GetLocalizedHtmlString("AddSubCategory")</button>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered js-basic-example dataTable">
                                <thead class="no-wrap">
                                    <tr>
                                        <th>
                                            #Sr
                                        </th>
                                        <th>@local.GetLocalizedHtmlString("Branch")</th>
                                        <th>@local.GetLocalizedHtmlString("Name")</th>
                                        <th>@local.GetLocalizedHtmlString("CreatedAt")</th>
                                        <th>@local.GetLocalizedHtmlString("Status")</th>
                                        <th>@local.GetLocalizedHtmlString("Action")</th>
                                    </tr>
                                </thead>

                                <tbody class="no-wrap">
                                    <tr data-attribute="2">
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            LEIDEN
                                        </td>
                                        <td>
                                            PIZZE CLASSICHE
                                        </td>

                                        <td>3 December, 2020</td>
                                        <td>
                                            <div class="badge  badge-success badge-shadow badge_width_height">Active</div>
                                        </td>
                                        <td>
                                            <a onclick="Active()" class="btn-sm btn-danger m-auto"><i class="fas fa-ban text-white"></i></a>
                                        </td>
                                    </tr>
                                    <tr data-attribute="2">
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            MAASTRICHT
                                        </td>
                                        <td>
                                            PIZZE SPECIALI
                                        </td>
                                        <td>3 December, 2020</td>
                                        <td>
                                            <div id="status_button_2" class="badge badge-danger badge-shadow badge_width_height">Blocked</div>
                                        </td>
                                        <td>
                                            <a onclick="Active()" class="btn-sm btn-success m-auto"><i class="far fa-check-circle text-white"></i></a>
                                        </td>
                                    </tr>
                                    <tr data-attribute="2">
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            LEIDEN
                                        </td>
                                        <td>
                                            DRINKS
                                        </td>
                                        <td>3 December, 2020</td>
                                        <td>
                                            <div class="badge badge-success badge-shadow badge_width_height">Active</div>
                                        </td>
                                        <td>
                                            <a onclick="Active()" class="btn-sm btn-danger m-auto"><i class="fas fa-ban text-white"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
        <div class="modal fade mt-5" id="addcategory" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="title" id="defaultModalLabel">@local.GetLocalizedHtmlString("AddCategory")</h4>
                    </div>
                    <div class="modal-body">
                        <form class="needs-validation" novalidate id="Form1">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>@local.GetLocalizedHtmlString("SelectBranch")</label>
                                        <select class="form-group form-float show-tick w-100 border-light">
                                            <option value="" disabled selected>-- Select Location</option>
                                            <option value="">MAASTRICHT</option>
                                            <option value="">LEIDEN</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>@local.GetLocalizedHtmlString("Name")</label>
                                        <input type="text" class="form-control" placeholder="Name...">
                                    </div>
                                </div>

                            </div>

                            <div style="float:right">
                                <button type="button" class="btn btn-danger btn-round waves-effect" data-dismiss="modal">@local.GetLocalizedHtmlString("Cancel")</button>
                                <button type="submit" class="btn btn-default btn-round waves-effect" data-dismiss="modal">@local.GetLocalizedHtmlString("Save")</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>


