@inject piano_pizza.Resources.LocalizationService local
@model Entities.LoginViewModel
@{
    Layout = null;
}
<!doctype html>
<html class="no-js " lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Signin.">

    <title>@local.GetLocalizedHtmlString("SignIn")</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/app-images/cropped-b-black-180x180.png"> <!-- Favicon-->
    <!-- Custom Css -->
    <link rel="stylesheet" href="~/admin-assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/admin-assets/css/main.css">
    <link rel="stylesheet" href="~/admin-assets/css/authentication.css">
    <link rel="stylesheet" href="~/admin-assets/css/color_skins.css">
</head>

<body class="theme-cyan authentication sidebar-collapse">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-transparent">
        <div class="container">
            <div class="navbar-translate n_logo">

                <button class="navbar-toggler" type="button">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>

        </div>
    </nav>
    <!-- End Navbar -->
    <div class="page-header">
        <div class="page-header-image" style="background-image: url(/admin-assets/images/Login/pexels-mikhail-morozov-8967721.jpg)"></div>
        <div class="container">
            <div class="col-md-12 content-center">
                <div class="card-plain">
                    <form action="@Url.Action("Login","Account")" method="Post" class="form-horizontal login-form">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="header">
                            <div class="logo-container">
                                <img src="~/app-images/Piano-b-white.png" />
                            </div>
                        </div>
                        <div class="content">
                            <div class="input-group input-lg">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Enter Email" })
                                <span class="input-group-addon">
                                    <i class="zmdi zmdi-email"></i>
                                </span>
                            </div>
                            <div class="input-group input-lg">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "●●●●●●●" })
                                <span class="input-group-addon">
                                    <i class="zmdi zmdi-lock"></i>
                                </span>
                            </div>
                        </div>
                        <div class="footer text-center">
                            <button type="submit" class="btn l-cyan btn-round btn-lg btn-block waves-effect waves-light">@local.GetLocalizedHtmlString("SignIn")</button>
                            <h6 class="m-t-20"><a href="@Url.Action("ForgotPassword","Account")" class="link">@local.GetLocalizedHtmlString("ForgotPassword")</a></h6>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- Jquery Core Js -->
    <script src="~/admin-assets/bundles/libscripts.bundle.js"></script>
    <script src="~/admin-assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->

    <script>
        $(".navbar-toggler").on('click', function () {
            $("html").toggleClass("nav-open");
        });
        //=============================================================================
        $('.form-control').on("focus", function () {
            $(this).parent('.input-group').addClass("input-group-focus");
        }).on("blur", function () {
            $(this).parent(".input-group").removeClass("input-group-focus");
        });
    </script>
</body>

</html>