@model Entities.ProductAndIngredientDtos;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- #header-wrap -->
<div id="header-bottom-wrap" class="is-clearfix">
    <div id="header-bottom" class="site-header-bottom">
        <div id="header-bottom-inner" class="site-header-bottom-inner ">
            <section class="hero slider is-clearfix ">
                <div style="background-image: url('/app-images/home.jpg'); background-repeat: no-repeat; background-size: cover; height: 200px; position: relative; background-position: center center;">
                </div>
                <div style="position: absolute;width: 100%;height: 100%;background-color: #000000;opacity: 0.5;transition: background 0.3s, border-radius 0.3s, opacity 0.3s;">
                </div>
                <div style="text-align: center;position: absolute;width: 100%;">
                    <h2 style="color: #fff;font-size: 36px;margin-top: 138px;font-family: 'LIBRE FRANKLIN', sans-serif;" class="">@Model.Name</h2>
                </div>
            </section>
            <!-- .slider -->
        </div>
        <!-- #header-bottom-inner -->
    </div>
    <!-- #header-bottom -->
</div>
<!-- #header-bottom-wrap -->
<!-- import content layouts and modules -->
<div id="content-main-wrap" class="is-clearfix">
    <div id="content-area" class="site-content-area">
        <div id="content-area-inner" class="site-content-area-inner">
            <!-- works section -->
            <section id="welcome" class="section introduction is-clearfix">
                <div class="container">
                    <div class="columns is-variable is-6 is-multiline">
                        <div class="column is-6-desktop is-12-tablet has-text-centered">
                            <div class="works-latest">
                                <div class="works-latest-item">
                                    <img alt="Joo - Niche Multi-Purpose HTML Template" src="@Model.Logo">
                                </div>
                                <!-- .works-latest-item -->
                            </div>
                        </div>
                        <div class="column is-6-desktop is-12-tablet">
                            <h1 style="font-size: 34px;" class="heading-title style-3 has-text-left">
                                @Model.Name - $@Model.Price
                            </h1>
                            <p> @Model.Description </p>
                            <br>
                            <div class="content">
                                <h3>
                                    Additional Ingredients
                                </h3>
                                <ul class="list no-margin" style="padding:0px 100px 0px 0px;">
                                    @foreach (var i in Model.IngredientLists)
                                    {
                                        <li>
                                            <div class="ps-checkbox mb-0">
                                                <input class="form-control" type="checkbox" id="create-account">
                                                <label for="create-account">@i.Name</label>
                                                <span style="float: right;">@i.Price</span>
                                            </div>
                                        </li>
                                    }
                                </ul>
                                <div class="item-quantity" style=" margin-top: 20px;">
                                    <span class="quantity-title">Qty:</span>
                                    <div class="quantity-counter-wrapper">
                                        <div class="input-group bootstrap-touchspin" style="display: flex;position: relative;">
                                            <span class="input-group-btn bootstrap-touchspin-injected" style="">
                                                <button class="btn btn-primary bootstrap-touchspin-down disabled-max-min" type="button">-</button>
                                            </span>
                                            <input type="text" class="quantity-counter form-control" readonly value="1" style="">
                                            <span class="input-group-btn bootstrap-touchspin-injected" style="">
                                                <button class="btn btn-primary bootstrap-touchspin-up" type="button">+</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a style="background-color: #2d2929;" class="button" href="@Url.Action("Index","Order")">Add To Cart</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- #content-area -->
</div>
<script>
    $(function () {
        $('.bootstrap-touchspin-up').on('click', function () {
            var s = parseInt($(this).parent().siblings('input').val()) + 1;
                $(this).parent().siblings('input').val(s > 50 ? 50:s);
        })
        $('.bootstrap-touchspin-down').on('click', function () {
            var s = parseInt($(this).parent().siblings('input').val()) - 1;
            $(this).parent().siblings('input').val(s <= 1 ? 1 : s);
        })
    })
</script>