@inject piano_pizza.Resources.LocalizationService local
@{
    Layout = "~/Areas/SuperAdmin/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-12">
                <h2>
                    @local.GetLocalizedHtmlString("AddBranch")
                </h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <!-- Basic Validation -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="body">
                        <div id="form_validation" method="POST">
                            <div class="Scriptcontent">

                                <main>
                                    <form method="POST" name="form-example-1" id="form-example-1" class="rounded" enctype="multipart/form-data">
                                        <div style="cursor:pointer" class="input-field ">
                                            <label class="active">@local.GetLocalizedHtmlString("BranchPictures")</label>
                                            <div class="input-images-1 rounded" style="padding-top: .5rem;"></div>
                                        </div>

                                    </form>
                                </main>

                            </div>
                            <!-- #END# File Upload | Drag & Drop OR With Click & Choose -->

                            <div class="row mt-4">
                                <div class="col-md-3">
                                    <div class="form-group form-float">
                                        <div class="file-field input-field mt-0 pt-0">
                                            <label>@local.GetLocalizedHtmlString("LogoUpload")</label>
                                            <input id="file" type="file" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group form-float">
                                        <label>>@local.GetLocalizedHtmlString("Name")</label>
                                        <input type="text" class="form-control" placeholder="Name.." name="name" required>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group form-float">
                                        <label>@local.GetLocalizedHtmlString("Phone")</label>
                                        <input type="text" class="form-control" placeholder="Phone.." required>
                                    </div>
                                </div>


                                <div class="col-md-3">
                                    <div class="form-group form-float">
                                        <label>@local.GetLocalizedHtmlString("Email")</label>
                                        <input type="email" class="form-control" placeholder="E-mail" required>
                                    </div>
                                </div>

                                <div class="col-12 mt-2">
                                    <div class="form-group form-float">
                                        <textarea class="border-top-0 border-left-0 border-right-0 w-100" rows="4" style="outline:none;border-color:#eee!important" placeholder="Description"></textarea>
                                    </div>
                                </div>
                                <div class="col-12 mt-2">
                                    <div class="form-group">
                                        <label>@local.GetLocalizedHtmlString("MapLocation")</label>
                                        <div class="input-group">
                                            <input type="hidden" class="form-control" id="lat" value="-33.878358" />
                                            <input type="hidden" class="form-control" id="lng" value="151.1835443" />
                                            <input style="width:90%;z-index:2147483647;" id="autocomplete_search" name="autocomplete_search" type="text" class="form-control rounded" placeholder="Search Location" />

                                            <br />
                                            <div class="form-group" style="width: 100%;">
                                                <div id="map" style="width:100%; height:400px;padding:10px;margin-top:10px;"></div>
                                                <button hidden id="MyLocator" style="background-color: rgb(255, 255, 255);box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;display: block;border: 0px;margin: 0px; padding: 0px;text-transform: none;position: relative;cursor: pointer;user-select: none;overflow: hidden;width: 40px;height: 40px;top: -250px;float: right;right: 11px;">
                                                </button>
                                            </div>
                                            <label id="lab" style=" position: relative;top: -69px;font-size: 16px;font-weight: 500;"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-raised btn-primary btn-round waves-effect mb-4" style="float:right" type="submit">@local.GetLocalizedHtmlString("SUBMIT")</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Basic Validation -->

    </div>
</section>

<script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCt7JTzt_AoYGTPLoHIwYt8vw0vkjErorc&libraries=places&callback=initMap"></script>
<script type="text/javascript">

    var marker;
    var map;
    var radius = 10000;

    var geocoder;
    function initMap() {
        search_lat = "";
        search_lng = "";
        formattedAddress = "";
        var input = document.getElementById('autocomplete_search');
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 11,
            center: { lat: -33.878358, lng: 151.1835443 }
        });
        // var geoloccontrol = new klokantech.GeolocationControl(map, 11);
        marker = new google.maps.Marker({
            map: map,
            draggable: true,
            zoom: 11,
            animation: google.maps.Animation.DROP,
            position: { lat: -33.878358, lng: 151.1835443 }
        });
        marker.addListener('click', toggleBounce);
        markerCoords(marker);
        geocoder = new google.maps.Geocoder();
        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.addListener('place_changed', function () {
            var place = autocomplete.getPlace();
            // place variable will have all the information you are looking for.
            $('#lat').val(place.geometry['location'].lat());
            $('#long').val(place.geometry['location'].lng());
            search_lat = place.geometry['location'].lat();
            search_lng = place.geometry['location'].lng();
            $("#address").html(place.formatted_address);
            $("#autocomplete_search").val(place.formatted_address);

            //setCountryStateCity(place, false);
            // SETTING LAT LNG
            $("#lat").val(search_lat);
            $("#lng").val(search_lng);
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 18,
                center: { lat: search_lat, lng: search_lng }
            });
            marker = new google.maps.Marker({
                map: map,
                draggable: true,
                zoom: 18,
                animation: google.maps.Animation.DROP,
                position: { lat: search_lat, lng: search_lng }
            });
            marker.addListener('click', toggleBounce);
            markerCoords(marker);
            var latlng = new google.maps.LatLng(search_lat, search_lng);
            map.setCenter(latlng);
            console.log('init Map', search_lat);
        });
    }
    function toggleBounce() {
        if (marker.getAnimation() !== null) {
            marker.setAnimation(null);
        } else {
            marker.setAnimation(google.maps.Animation.BOUNCE);
        }
    }
    function markerCoords(markerobject) {
        google.maps.event.addListener(markerobject, 'dragend', function (evt) {
            var newlat = evt.latLng.lat().toFixed(3);
            var newlng = evt.latLng.lng().toFixed(3);
            geocoder.geocode({
                latLng: new google.maps.LatLng(newlat, newlng)
            }, function (responses) {
                if (responses && responses.length > 0) {
                    //setCountryStateCity(responses, true);
                    $("#address").html(responses[0].formatted_address);
                    $("#autocomplete_search").val(responses[0].formatted_address);
                }
                else {
                    console.log('Cannot determine address at this location.');
                }
            });
            $("#lat").val(newlat);
            $("#lng").val(newlng);
            console.log(newlat, " drag value");

        });
    }
    $("#MyLocator").on("click", function () {
        getLocation();
    })
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        }
        else {
            var latitude = "-33.878358";
            var longitude = "151.1835443";
            $("#lat").val("-33.878358");
            $("#lng").val("151.1835443");
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 18,
                center: { lat: latitude, lng: longitude }
            });
            marker = new google.maps.Marker({
                map: map,
                draggable: true,
                zoom: 2,
                animation: google.maps.Animation.DROP,
                position: { lat: latitude, lng: longitude }
            });
            marker.addListener('click', toggleBounce);
            //radius = 1000;
            markerCoords(marker);
            var latlng = new google.maps.LatLng(latitude, longitude);
            map.setCenter(latlng);
            $("#autocomplete_search").val(map.formatted_address);
            alert("Geolocation is not supported by this browser.");
        }
    }
    function showPosition(position) {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 18,
            center: { lat: position.coords.latitude, lng: position.coords.longitude }
        });
        marker = new google.maps.Marker({
            map: map,
            draggable: true,
            zoom: 2,
            animation: google.maps.Animation.DROP,
            position: { lat: position.coords.latitude, lng: position.coords.longitude }
        });
        marker.addListener('click', toggleBounce);
        markerCoords(marker);
        var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
        map.setCenter(latlng);
        $("#lat").val(position.coords.latitude);
        $("#lng").val(position.coords.longitude);
        console.log("Show position ", position.coords.latitude);
    }
</script>

