@inject piano_pizza.Resources.LocalizationService local
@{
    Layout = "~/Areas/SuperAdmin/Views/Shared/_Layout.cshtml";
}
<style>
    .swal2-select{
        display:none!important;
    }
</style>
<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-12">
                <h2>
                    @local.GetLocalizedHtmlString("Add Staff")
                </h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <!-- Basic Validation -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="body">
                        <form autocomplete="off" id="Form" method="POST" action="/SuperAdmin/Staff/AddStaff" enctype="multipart/form-data">
                            <p style="color:orangered;">@ViewBag.Message</p>
                            <input type="hidden" name="Role" id="Role" value="@ViewBag.Type" />
                            <div id="form_validation">
                                <div class="row mt-4">
                                    <div class="col-md-4 col-sm-12 col-12">
                                        <div class="card-body shadow" style="min-height:335px!important;max-height:335px!important">
                                            <input type="file" accept="image/*" name="ImageFile" id="file" onchange="loadFile(event)" class="form-control" style="display: none" />
                                            <div class="d-flex justify-content-center mt-3">
                                                <label for="file" style="cursor: pointer;" class="mt-1">
                                                    <span class="position-absolute rounded-circle bg-white pl-1 pr-1 pt-1" style="margin-left: 200px;margin-top: 200px;">
                                                        <i class="fas fa-camera font-18 text-black"></i>
                                                    </span>
                                                    <img src="/user_icon.jpg" class="rounded-circle align-middle" id="output" style="vertical-align:middle;max-width:250px!important;min-width: 250px!important;max-height:250px!important; min-height: 250px!important" />
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-sm-12 col-12">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12 col-12">
                                                <label>@local.GetLocalizedHtmlString("SelectBranch")</label>
                                                @Html.DropDownList("BranchId", (IEnumerable<SelectListItem>)ViewBag.Branches, new { @class = "form-group form-float show-tick w-100 border-light" })
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-12">
                                                <div class="form-group form-float">
                                                    <label>@local.GetLocalizedHtmlString("Name")</label>
                                                    <input type="text" class="form-control mt-1" placeholder="Name" id="Name" name="FullName" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-12">
                                                <label>@local.GetLocalizedHtmlString("SelectGender")</label>
                                                <select class="form-group  form-float show-tick w-100" name="Gender" id="Gender">
                                                    <option value="Male">Male</option>
                                                    <option value="Female">Female</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-12">
                                                <div class="form-group form-float">
                                                    <label>@local.GetLocalizedHtmlString("Email")</label>
                                                    <input type="text" name="Email" id="Email" class="form-control mt-1" placeholder="E-mail.." required>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-12">
                                                <div class="form-group form-float">
                                                    <label>@local.GetLocalizedHtmlString("Phone")</label>
                                                    <input type="text" name="Phone" id="Phone" class="form-control" placeholder="Phone.." required>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-12">
                                                <label>@local.GetLocalizedHtmlString("JoiningDate")</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="zmdi zmdi-calendar"></i>
                                                    </span>
                                                    <input type="text" id="JoiningDate" class="form-control datetimepicker" placeholder="Please choose date & time...">
                                                    <input type="hidden" id="JoiningDate2" name="JoiningDate">
                                                </div>
                                            </div> <div class="col-md-6 col-sm-12 col-12">
                                                <div class="form-group form-float">
                                                    <label>@local.GetLocalizedHtmlString("Password")</label>
                                                    <input type="password" id="Password" name="Password" autocomplete="new-password" class="form-control mt-1" placeholder="Password.." required>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-12">
                                                <div class="form-group form-float">
                                                    <label>@local.GetLocalizedHtmlString("ConfirmPassword")</label>
                                                    <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" placeholder="Confirm Password.." required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="display:flex;justify-content:end;">
                                    <a class="btn btn-raised btn-default btn-round waves-effect mb-4" href="@ViewBag.CancelString">@local.GetLocalizedHtmlString("Cancel")</a>
                                    <button class="btn btn-raised btn-default btn-round waves-effect mb-4" type="submit">@local.GetLocalizedHtmlString("SUBMIT")</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Basic Validation -->
    </div>
</section>

<script>
    $(function () {
        $('#RecepDtls').addClass('active');
        $('#staff').addClass('toggled');
        if ('@ViewBag.Message' != '') {
            MixinSweet("@ViewBag.Message!", "","info", 2000);
        }
    })

    var loadFile = function (event) {
        var image = document.getElementById("output");
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>

<script>
    $('#Form').submit(function (e) {
        //e.preventDefault();
        var bool = true;
        var GetAllValues = [];
        var password = $('#Password').val();
        var confrimPassword = $('#ConfirmPassword').val();
        $('#Form').find(('.form-control')).each(function (i, obj) {
            var values = getDataFromSimpleField($(obj));
            GetAllValues.push(values);
            if (GetAllValues.includes(false)) {
                bool = false;
            }
        })
        if (bool == false) {
            MixinSweet("Please fill all the required fields", "", "error", 2000);
            e.preventDefault();
        }
        else if (password != confrimPassword) {
            MixinSweet("Password and confirm password should be sam ", "", "error", 2000);
            e.preventDefault();
        }
        else if (password.length < 6) {
            MixinSweet("Password length should be greater than 6", "", "error", 2000);
            e.preventDefault();
        }
        else {

            var date = $('#JoiningDate').val();
            date = date.split(' ');
            date = date[1] + "-" + date[2] + "-" + date[3];
            var date = new Date(date);
            var day = ("0" + date.getDate()).slice(-2);
            var month = ("0" + (date.getMonth() + 1)).slice(-2);
            var join = date.getFullYear() + "-" + (month) + "-" + (day);
            $('#JoiningDate2').val(join);
            return true;
        }
    })
    function getDataFromSimpleField(element) {
        var s = false;
        var value = $(element).val();

        if (value == "" || value == null || value == undefined) {
            s = false;
            $(element).addClass('is-invalid');
            $(element).removeClass('is-valid');
        }
        else if (!value.replace(/\s/g, '')[0].length) {
            s = false;
            $(element).addClass('is-invalid');
            $(element).removeClass('is-valid');
        }
        else {
            s = true;
            $(element).addClass('is-valid');
            $(element).removeClass('is-invalid');
        }
        if (s == false) {
            return false;
        }
        return true;
    }
</script>