@using Microsoft.AspNetCore.Mvc.Localization
@inject piano_pizza.Resources.LocalizationService local
<!doctype html>
<html class="no-js " lang="en">

<!-- Mirrored from www.wrraptheme.com/templates/compass/html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 29 Sep 2021 10:47:42 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">
    <title>Pionob</title>
    <link rel="icon" href="/admin-assets/images/piano/cropped-b-black-180x180.png"> <!-- Favicon-->

    <link href="~/admin-assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/admin-assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.css" rel="stylesheet" />

    <link href="~/admin-assets/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />

    <link href="~/admin-assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css" rel="stylesheet" />

    <link href="~/admin-assets/plugins/light-gallery/css/lightgallery.css" rel="stylesheet" />

    <link href="~/admin-assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />

    <link href="~/admin-assets/css/sweetalert2.min.css" rel="stylesheet" />
    <!-- JQuery DataTable Css -->
    <link href="~/admin-assets/css/image-uploader.min.css" rel="stylesheet" />

    <link href="~/admin-assets/css/main.css" rel="stylesheet" />
    <link href="~/admin-assets/css/color_skins.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="~/admin-assets/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js ( jquery.v3.2.1, Bootstrap4 js) -->

</head>
<body class="theme-black">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30"><img src="/admin-assets/images/Login/Piano-b-black.png" height="48"></div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>

    <!-- Top Bar -->
    <nav class="navbar">
        <div class="col-12">
            <div class="navbar-header text-center">
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand"><img src="/admin-assets/images/Login/Piano-b-black.png" height="50"></a>
            </div>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="javascript:void(0);" class="ls-toggle-btn" data-close="true"><i class="zmdi zmdi-swap"></i></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        <i class="zmdi zmdi-notifications"></i>
                        <div class="notify"><span class="heartbit"></span><span class="point"></span></div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right slideDown">
                        <li class="header">@local.GetLocalizedHtmlString("NOTIFICATIONS")</li>
                        <li class="body">
                            <ul class="menu list-unstyled">
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="icon-circle bg-blue"><i class="zmdi zmdi-account"></i></div>
                                        <div class="menu-info">
                                            <h4>8 New Members joined</h4>
                                            <p><i class="zmdi zmdi-time"></i> 14 mins ago </p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="icon-circle bg-amber"><i class="zmdi zmdi-shopping-cart"></i></div>
                                        <div class="menu-info">
                                            <h4>4 Sales made</h4>
                                            <p> <i class="zmdi zmdi-time"></i> 22 mins ago </p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="icon-circle bg-red"><i class="zmdi zmdi-delete"></i></div>
                                        <div class="menu-info">
                                            <h4><b>Nancy Doe</b> Deleted account</h4>
                                            <p> <i class="zmdi zmdi-time"></i> 3 hours ago </p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="icon-circle bg-green"><i class="zmdi zmdi-edit"></i></div>
                                        <div class="menu-info">
                                            <h4><b>Nancy</b> Changed name</h4>
                                            <p> <i class="zmdi zmdi-time"></i> 2 hours ago </p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="icon-circle bg-grey"><i class="zmdi zmdi-comment-text"></i></div>
                                        <div class="menu-info">
                                            <h4><b>John</b> Commented your post</h4>
                                            <p> <i class="zmdi zmdi-time"></i> 4 hours ago </p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="icon-circle bg-purple"><i class="zmdi zmdi-refresh"></i></div>
                                        <div class="menu-info">
                                            <h4><b>John</b> Updated status</h4>
                                            <p> <i class="zmdi zmdi-time"></i> 3 hours ago </p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="icon-circle bg-light-blue"><i class="zmdi zmdi-settings"></i></div>
                                        <div class="menu-info">
                                            <h4>Settings Updated</h4>
                                            <p> <i class="zmdi zmdi-time"></i> Yesterday </p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer"> <a href="javascript:void(0);">@local.GetLocalizedHtmlString("ViewAllNotifications")</a></li>
                    </ul>
                </li>

                @*<--Logout-->*@
                <li><a href="/Account/SignIn" class="mega-menu mr-3" data-close="true"><i class="zmdi zmdi-power"></i></a></li>

            </ul>
        </div>
    </nav>

    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <div class="menu">
            <ul class="list">
                <li>
                    <div class="user-info">
                        <div class="image"><img src="~/admin-assets/images/profile_av.jpg" /></div>
                        <div class="detail mt-2">
                            <div class="d-flex flex-row" style="justify-content: center;">
                                <p class="mt-1">@local.GetLocalizedHtmlString("Admin")</p>
                                <a href="/SuperAdmin/Main/AdminProfile" class="mt-n2" title="Profile"><i class="zmdi zmdi-account-circle"></i></a>
                            </div>
                        </div>
                    </div>

                </li>
                <li class="header">@local.GetLocalizedHtmlString("MAIN")</li>
                <li id="dash">
                    <a href="/SuperAdmin/Main/Index"><i class="fas fa-desktop"></i><span>@local.GetLocalizedHtmlString("Dashboard") </span></a>
                </li>


                <li class="header">@local.GetLocalizedHtmlString("Management")</li>
                <li id="Usr">
                    <a href="/SuperAdmin/Users/Detail"><i class="fas fa-users"></i><span>@local.GetLocalizedHtmlString("Users")</span> </a>
                </li>

                <li id="staff">
                    <a href="javascript:void(0);" class="menu-toggle"><i class="fas fa-user-tie"></i><span>@local.GetLocalizedHtmlString("Staff")</span> </a>
                    <ul class="ml-menu">
                        <li id="CookDtls"><a href="/SuperAdmin/Staff/CookDetails">@local.GetLocalizedHtmlString("CookDetails")</a></li>
                        <li id="PackerDtls"><a href="/SuperAdmin/Staff/PackerDetails">@local.GetLocalizedHtmlString("PackerDetails")</a></li>
                        <li id="RecepDtls"><a href="/SuperAdmin/Staff/ReceptionistDetails">@local.GetLocalizedHtmlString("ReceptionistDetails") </a></li>
                    </ul>
                </li>

                <li id="Branch">
                    <a href="javascript:void(0);" class="menu-toggle"><i class="fas fa-building"></i><span>@local.GetLocalizedHtmlString("Branch")</span> </a>
                    <ul class="ml-menu">
                        <li id="AddBranch"><a href="/SuperAdmin/Branch/AddBranch">@local.GetLocalizedHtmlString("AddBranch")</a></li>
                        <li id="BranchDtls"><a href="/SuperAdmin/Branch/Details">@local.GetLocalizedHtmlString("BranchDetails")</a></li>
                    </ul>
                </li>

                <li id="product">
                    <a href="javascript:void(0);" class="menu-toggle"><i class="fas fa-pizza-slice"></i><span>@local.GetLocalizedHtmlString("Product")</span> </a>
                    <ul class="ml-menu">
                        <li id="RprtTag"><a href="/SuperAdmin/Product/Category">@local.GetLocalizedHtmlString("Categories")</a></li>
                        <li id="RprtChlg"><a href="/SuperAdmin/Product/AddProduct">@local.GetLocalizedHtmlString("AddProduct")</a></li>
                        <li id="RprtChlg"><a href="/SuperAdmin/Product/AddIngredients">@local.GetLocalizedHtmlString("AddIngredients")</a></li>
                        <li id="RprtChlg"><a href="/SuperAdmin/Product/Detail">@local.GetLocalizedHtmlString("ProductsDetail") </a></li>
                    </ul>
                </li>

                <li id="order">
                    <a href="javascript:void(0);" class="menu-toggle"><i class="fas fa-shopping-cart"></i><span>@local.GetLocalizedHtmlString("Order") </span> </a>
                    <ul class="ml-menu">
                        <li id="orderDtls">
                            <a href="/SuperAdmin/Order/Detail"><span>@local.GetLocalizedHtmlString("Details") </span> </a>
                        </li>
                        <li id="orderRating">
                            <a href="/SuperAdmin/Main/Ratings"><span>@local.GetLocalizedHtmlString("Ratings")</span> </a>
                        </li>
                    </ul>
                </li>


                <li id="payment">
                    <a href="/SuperAdmin/Order/Payment"><i class="fas fa-hand-holding-usd"></i><span>@local.GetLocalizedHtmlString("Payments")</span> </a>
                </li>


                <li id="Query">
                    <a href="/SuperAdmin/Main/Queries"><i class="far fa-question-circle"></i><span>@local.GetLocalizedHtmlString("Queries")</span> </a>
                </li>
                <li class="header">Content</li>

                <li id="AppData">
                    <a href="javascript:void(0);" class="menu-toggle"><i class="far fa-file-alt"></i><span>@local.GetLocalizedHtmlString("AppData")</span> </a>
                    <ul class="ml-menu">
                        <li id="privacy">
                            <a href="/SuperAdmin/AppContent/PrivacyPolicy">@local.GetLocalizedHtmlString("PrivacyPolicy")</a>
                        </li>
                        <li id="cookie">
                            <a href="/SuperAdmin/AppContent/CookiePolicy">@local.GetLocalizedHtmlString("CookiePolicy")</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </aside>
    <div>
        @RenderBody()

    </div>
    @RenderSection("scripts", required: false)

    <!-- Main Content -->
    
    <script src="~/admin-assets/bundles/vendorscripts.bundle.js"></script> <!-- slimscroll, waves Scripts Plugin Js -->
    <!-- Jquery DataTable Plugin Js -->

    <script src="~/admin-assets/plugins/chartjs/Chart.bundle.js"></script> <!-- Chart Plugins Js -->

    <script src="~/admin-assets/plugins/momentjs/moment.js"></script> <!-- Moment Plugin Js -->
    <script src="~/admin-assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>

    <script src="~/admin-assets/plugins/light-gallery/js/lightgallery-all.min.js"></script>
    <script src="~/admin-assets/bundles/mainscripts.bundle.js"></script>

    <script src="~/admin-assets/bundles/datatablescripts.bundle.js"></script>
    <script src="~/admin-assets/plugins/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
    <script src="~/admin-assets/plugins/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
    <script src="~/admin-assets/plugins/jquery-datatable/buttons/buttons.colVis.min.js"></script>
    <script src="~/admin-assets/plugins/jquery-datatable/buttons/buttons.flash.min.js"></script>
    <script src="~/admin-assets/plugins/jquery-datatable/buttons/buttons.html5.min.js"></script>
    <script src="~/admin-assets/js/jquery-modal-video.min.js"></script>
    <script src="~/admin-assets/js/pages/tables/jquery-datatable.js"></script>
    <script src="~/admin-assets/js/sweetalert2.min.js"></script>
    <script src="~/admin-assets/summernote/dist/summernote.js"></script>
    <script src="~/admin-assets/js/image-uploader.min.js"></script>

    <script src="~/admin-assets/js/pages/medias/image-gallery.js"></script>
    <script src="~/admin-assets/js/pages/forms/basic-form-elements.js"></script>

    <script>
        $(function () {

            $('.input-images-1').imageUploader();
        });
    </script>
</body>

</html>