@model IEnumerable<Entities.CategoryAndProductsVms>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- #header-wrap -->
<div id="header-bottom-wrap" class="is-clearfix">
    <div id="header-bottom" class="site-header-bottom">
        <div id="header-bottom-inner" class="site-header-bottom-inner ">
            <section class="hero slider is-clearfix ">
                <div style="background-image: url('/app-images/home.jpg');background-repeat: no-repeat;background-size: cover;height: 200px;position: relative;background-position: center center;">
                </div>
                <div style="position: absolute;width: 100%;height: 100%;background-color: #000000;opacity: 0.5;transition: background 0.3s, border-radius 0.3s, opacity 0.3s;">
                </div>
                <div style="text-align: center;position: absolute;width: 100%;">
                    <h2 style="color: #fff;font-size: 36px;margin-top: 138px;font-family: 'LIBRE FRANKLIN', sans-serif;" class="">Menu </h2>
                </div>
            </section>
            <!-- .slider -->
        </div>
        <!-- #header-bottom-inner -->
    </div>
    <!-- #header-bottom -->
</div>
<!-- #header-bottom-wrap -->
<!-- import content layouts and modules -->
<div id="content-main-wrap" class="is-clearfix">
    <div id="content-area" class="site-content-area">
        <div id="content-area-inner" class="site-content-area-inner">
            <!-- works section -->
            <section class="section works-list is-clearfix">
                <div class="container">
                    <p class="heading-title-top has-text-centered style-2">menu</p>
                    <div class="works isotope">
                        <ul class="isotope-filter">
                            <li data-filter="*" class="active">show all</li>
                            @foreach (var i in Model)
                            {
                                if (i.ProductList.Count() != 0 )
                                {
                                    <li data-filter=".@i.Id">@i.Name</li>
                                }
                            }
                        </ul>
                        <div class="columns is-variable is-4 is-multiline">
                            @foreach (var i in Model)
                            {
                                foreach (var a in i.ProductList)
                                {
                                    <div class="column is-4 @i.Id" data-aos="fade">
                                        <div class="work-item">
                                            <figure class="work-item-img">
                                                <a href="@Url.Action("Index","Product")">
                                                    <img alt="Joo - Niche Multi-Purpose HTML Template" src="@a.Logo">
                                                </a>
                                            </figure>
                                            <div class="work-item-meta">
                                                <h3>
                                                    <a href="@Url.Action("Index","Product")">
                                                        @a.Name
                                                        <span class="work-price">$@a.Price</span>
                                                    </a>
                                                </h3>
                                                <p>@a.Description</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <!-- .columns -->
                    </div>
                    <!-- .works -->
                </div>
            </section>
            <!-- . -->
            <section>
                <div style="text-align: center;">
                    <img src="/app-images/8-slice-of-pizza.jpg" style="height: 100%;width: 100%;">
                </div>
            </section>
            <section>
                <div class="columns">
                    <div class="column is-4" style="padding: 0px 0px 0px 92px;">
                        <h2 style="color: #17b117;font-family: fangsong;padding: 26px;font-size: 46px;">
                            WE PRESENT <br> TO YOU<br> THE PIZZA<br> OF THE<br> MONTH
                        </h2>
                        <h2 style="padding: 0px 26px;font-size: 34px;">
                            THE BRESAOLA
                        </h2>
                    </div>
                    <div class="column is-8">
                        <img src="/app-images/braseol1.jpg">
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- #content-area -->
</div>