@model IEnumerable<Entities.GetOrderdetails>;
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Receptionist/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-12">
                <h2>
                    Orders Detail
                </h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        <div>
                            <button id="all" class="btn-sm btn-primary rounded font-12 mt-2">All</button>
                            <button id="pending" class="btn-sm btn-primary FilterButton rounded font-12 mt-2">Waitng</button>
                            <button id="cooking" class="btn-sm btn-primary FilterButton rounded font-12 mt-2">In-process</button>
                            <button id="ready_for_pack" class="btn-sm btn-primary FilterButton rounded font-12 mt-2">Ready for Pack</button>
                            <button id="packing" class="btn-sm btn-primary FilterButton rounded font-12 mt-2">Packing</button>
                            <button id="packed" class="btn-sm btn-primary FilterButton rounded font-12 mt-2">Packed</button>
                            <button id="ontheway" class="btn-sm btn-primary FilterButton rounded font-12 mt-2">On the Way</button>
                            <button id="delivered" class="btn-sm btn-primary FilterButton rounded font-12 mt-2">delivered</button>
                            <button id="cancelled" class="btn-sm btn-primary FilterButton rounded font-12 mt-2">Cancelled</button>
                        </div>
                    </div>
                    <div class="body">
                        <div class="">
                            <table id="table-1" class="table js-basic-example dataTable table-responsive">
                                <thead class="no-wrap">
                                    <tr>
                                        <th>Order Id</th>
                                        <th>Customer Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Products Detail</th>
                                        <th data-breakpoints="sm xs">Assigned Person</th>
                                        <th data-breakpoints="sm xs">Datetime</th>
                                        <th data-breakpoints="sm xs">Amount</th>
                                        <th data-breakpoints="sm xs">Status</th>
                                    </tr>
                                </thead>

                                <tbody class="no-wrap">
                                    @foreach (var i in Model)
                                    {
                                        if (i.Status == Entities.Enum.OrderType.Waiting)
                                        {
                                            <tr data-row="1">
                                                <td>#@i.OrderId</td>
                                                <td>
                                                    <span class="w-space-no ml-2">@i.Username</span>
                                                </td>
                                                <td>@i.UserEmail</td>
                                                <td>@i.PhoneNumber</td>
                                                <td class="align-middle text-center">
                                                    <a class="description" style="cursor:pointer" onclick="GetProductsDetails(@i.Id)"><img src="~/admin-assets/images/piano/Bg-transparent/Page-2-Image-14-removebg-preview.png" height="35" /></a>
                                                </td>
                                                <td>
                                                    <span class="w-space-no ml-2 text-warning">Unassigned</span>
                                                </td>
                                                <td class="align-middle">@i.CreatedAt</td>
                                                <td class="align-middle">$@i.TotalPrice</td>
                                                <td class="align-middle">
                                                    <span class="text-warning">Waiting </span>
                                                    <a onclick="AssignStaff('@Entities.Enum.UserType.Cook',@i.OrderId,@i.Id)" style="cursor:pointer" title="Assign Cook" data-toggle="tooltip" class="bg-white text-secondary border-0  rounded fas fa-user-tie text-white"></a>
                                                </td>
                                            </tr>
                                        }
                                        else if (i.Status == Entities.Enum.OrderType.Cooking)
                                        {
                                            <tr data-row="2">
                                                <td>#@i.OrderId</td>
                                                <td>
                                                    <span class="w-space-no ml-2">@i.Username</span>
                                                </td>
                                                <td>@i.UserEmail</td>
                                                <td>@i.PhoneNumber</td>
                                                <td class="align-middle text-center">
                                                    <a class="description" style="cursor:pointer" onclick="GetProductsDetails(@i.Id)"><img src="~/admin-assets/images/piano/Bg-transparent/Page-2-Image-14-removebg-preview.png" height="35" /></a>
                                                </td>
                                                <td>
                                                    <span class="w-space-no ml-2">@i.AssigneeName</span>
                                                </td>
                                                <td class="align-middle">@i.CreatedAt</td>
                                                <td class="align-middle">$@i.TotalPrice</td>
                                                <td class="align-middle">
                                                    <span class="col-cyan">Cooking</span>
                                                    <a onclick="AssignStaff('@Entities.Enum.UserType.Cook',@i.OrderId,@i.Id)" style="cursor:pointer" title="Assign Cook" data-toggle="tooltip" class="bg-white text-secondary border-0  rounded fas fa-user-tie text-white"></a>
                                                </td>
                                            </tr>
                                        }
                                        else if (i.Status == Entities.Enum.OrderType.ReadyForPacking)
                                        {
                                            <tr data-row="3">
                                                <td>#@i.OrderId</td>
                                                <td>
                                                    <span class="w-space-no ml-2">@i.Username</span>
                                                </td>
                                                <td>@i.UserEmail</td>
                                                <td>@i.PhoneNumber</td>
                                                <td class="align-middle text-center">
                                                    <a class="description" style="cursor:pointer" onclick="GetProductsDetails(@i.Id)"><img src="~/admin-assets/images/piano/Bg-transparent/Page-2-Image-14-removebg-preview.png" height="35" /></a>
                                                </td>
                                                <td>
                                                    <span class="w-space-no ml-2 text-warning">Unassigned</span>
                                                </td>
                                                <td class="align-middle">@i.CreatedAt</td>
                                                <td class="align-middle">$@i.TotalPrice</td>
                                                <td class="align-middle">
                                                    <span class="col-light-blue">Ready for Pack </span>
                                                    <a onclick="AssignStaff('@Entities.Enum.UserType.Packer',@i.OrderId,@i.Id)" style="cursor:pointer" title="Assign Packer" data-toggle="tooltip" class="bg-white text-secondary border-0  rounded fas fa-user-tie text-white"></a>
                                                </td>
                                            </tr>
                                        }
                                        else if (i.Status == Entities.Enum.OrderType.Packing)
                                        {
                                            <tr data-row="4">
                                                <td>#@i.OrderId</td>
                                                <td>
                                                    <span class="w-space-no ml-2">@i.Username</span>
                                                </td>
                                                <td>@i.UserEmail</td>
                                                <td>@i.PhoneNumber</td>
                                                <td class="align-middle text-center">
                                                    <a class="description" style="cursor:pointer" data-toggle="modal" data-target="#PrdDtls"><img src="~/admin-assets/images/piano/Bg-transparent/Page-2-Image-14-removebg-preview.png" height="35" /></a>
                                                </td>
                                                <td>
                                                    <span class="w-space-no ml-2 text-warning">@i.AssigneeName</span>
                                                </td>
                                                <td class="align-middle">@i.CreatedAt</td>
                                                <td class="align-middle">$@i.TotalPrice</td>
                                                <td class="align-middle">
                                                    <span class="col-light-blue">Packing </span>
                                                    <a onclick="AssignStaff('@Entities.Enum.UserType.Packer',@i.OrderId,@i.Id)" style="cursor:pointer" title="Assign Packer" data-toggle="tooltip" class="bg-white text-secondary border-0  rounded fas fa-user-tie text-white"></a>
                                                </td>
                                            </tr>
                                        }
                                        else if (i.Status == Entities.Enum.OrderType.ReadyToDeliver)
                                        {
                                            <tr data-row="5">
                                                <td>#@i.OrderId</td>
                                                <td>
                                                    <span class="w-space-no ml-2">@i.Username</span>
                                                </td>
                                                <td>@i.UserEmail</td>
                                                <td>@i.PhoneNumber</td>
                                                <td class="align-middle text-center">
                                                    <a class="description" style="cursor:pointer" data-toggle="modal" data-target="#PrdDtls"><img src="~/admin-assets/images/piano/Bg-transparent/Page-2-Image-14-removebg-preview.png" height="35" /></a>
                                                </td>
                                                <td>
                                                    <span class="w-space-no ml-2 text-warning">Unassigned</span>
                                                </td>
                                                <td class="align-middle">@i.CreatedAt</td>
                                                <td class="align-middle">$@i.TotalPrice</td>
                                                <td class="align-middle">
                                                    <span class="text-primary">Ready To Deliver</span>
                                                    <a onclick="AssignStaff('@Entities.Enum.UserType.Driver',@i.OrderId,@i.Id)" style="cursor:pointer" title="Assign Packer" data-toggle="tooltip" class="bg-white text-secondary border-0  rounded fas fa-user-tie text-white"></a>
                                                </td>
                                            </tr>
                                        }
                                        else if (i.Status == Entities.Enum.OrderType.OnTheWay)
                                        {
                                            <tr data-row="6">
                                                <td>#@i.OrderId</td>
                                                <td>
                                                    <span class="w-space-no ml-2">@i.Username</span>
                                                </td>
                                                <td>@i.UserEmail</td>
                                                <td>@i.PhoneNumber</td>
                                                <td class="align-middle text-center">
                                                    <a class="description" style="cursor:pointer" data-toggle="modal" data-target="#PrdDtls"><img src="~/admin-assets/images/piano/Bg-transparent/Page-2-Image-14-removebg-preview.png" height="35" /></a>
                                                </td>
                                                <td>
                                                    <span class="w-space-no ml-2 text-warning">@i.AssigneeName</span>
                                                </td>
                                                <td class="align-middle">@i.CreatedAt</td>
                                                <td class="align-middle">$@i.TotalPrice</td>
                                                <td class="align-middle">
                                                    <span class="text-primary">On the Way</span>
                                                </td>
                                            </tr>
                                        }
                                        else if (i.Status == Entities.Enum.OrderType.Delivered)
                                        {
                                            <tr data-row="7">
                                                <td>#@i.OrderId</td>
                                                <td>
                                                    <span class="w-space-no ml-2">@i.Username</span>
                                                </td>
                                                <td>@i.UserEmail</td>
                                                <td>@i.PhoneNumber</td>
                                                <td class="align-middle text-center">
                                                    <a class="description" style="cursor:pointer" data-toggle="modal" data-target="#PrdDtls"><img src="~/admin-assets/images/piano/Bg-transparent/Page-2-Image-14-removebg-preview.png" height="35" /></a>
                                                </td>
                                                <td>
                                                    <span class="w-space-no ml-2 text-warning">-</span>
                                                </td>
                                                <td class="align-middle">@i.CreatedAt</td>
                                                <td class="align-middle">$@i.TotalPrice</td>
                                                <td class="align-middle">
                                                    <span class="text-success">Delivered </span>
                                                </td>
                                            </tr>
                                        }
                                        else if (i.Status == Entities.Enum.OrderType.Cancelled)
                                        {
                                            <tr data-row="8">
                                                <td>#@i.OrderId</td>
                                                <td>
                                                    <span class="w-space-no ml-2">@i.Username</span>
                                                </td>
                                                <td>@i.UserEmail</td>
                                                <td>@i.PhoneNumber</td>
                                                <td class="align-middle text-center">
                                                    <a class="description" style="cursor:pointer" data-toggle="modal" data-target="#PrdDtls"><img src="~/admin-assets/images/piano/Bg-transparent/Page-2-Image-14-removebg-preview.png" height="35" /></a>
                                                </td>
                                                <td>
                                                    <span class="w-space-no ml-2 text-warning">-</span>
                                                </td>
                                                <td class="align-middle">@i.CreatedAt</td>
                                                <td class="align-middle">$@i.TotalPrice</td>
                                                <td class="align-middle">
                                                    <span class="text-danger">Cancelled</span>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bs-example-modal-md mt-5" id="assignOrder" tabindex="-1" role="dialog" aria-labelledby="assignOrder" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="formModal">Assign Order</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <input type="hidden" id="TempId" />
                                <div class="d-flex flex-row">
                                    <label>Order Id:<span class="ml-2" id="TempOrderId">#123456</span></label>
                                </div>
                            </div>
                            <div class="col-12">
                                <label>Select User</label>
                                <select class="form-group form-float show-tick w-100 select2" id="UserAppend">
                                    
                                </select>
                            </div>
                        </div>

                        <div>
                            <button onclick="AssignFunction()" class="btn btn-success float-right right">Assign</button>
                        </div>

                    </div>
                </div>
            </div><!-- /.modal -->
        </div>

        <div class="modal fade bs-example-modal-md mt-5" id="PrdDtls" tabindex="-1" role="dialog" aria-labelledby="PrdDtls" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="formModal">Products Detail</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table id="table-2" class="table js-basic-example dataTable">
                                <thead class="no-wrap">
                                    <tr>
                                        <th>Image</th>
                                        <th>Product Name</th>
                                        <th data-breakpoints="sm xs" class="text-center">Ingredients</th>
                                        <th data-breakpoints="xs">Quantity</th>
                                        <th data-breakpoints="xs">Amount</th>
                                    </tr>
                                </thead>
                                <tbody id="dataTable2" class="no-wrap">
                                </tbody>
                                <tfoot>
                                    <tr><th colspan="4">Total Bill</th><th rowspan="1" colspan="1" id="TotalPrice">$31.00</th></tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal -->
        </div>
        <!-- #END# Exportable Table -->
        <div class="modal fade bs-example-modal-md mt-5" id="des" tabindex="-1" role="dialog" aria-labelledby="des" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="formModal">Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <textarea readonly class="w-100 border-0"> Sample Details</textarea>
                            </div>
                        </div>

                    </div>
                </div>
            </div><!-- /.modal -->
        </div>

        <div class="modal fade bs-example-modal-md mt-5" id="ingredients" tabindex="-1" role="dialog" aria-labelledby="ingredients" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="formModal">Ingredients</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row" id="IngredientsBody">

                    </div>
                </div>
            </div><!-- /.modal -->
        </div>
    </div>

        <select id="UserSelect">
            @foreach (var i in (IEnumerable<Entities.ProfileDtos>)ViewBag.Users)
            {
                <optgroup label="@i.Role">
                    <option data-id="@i.Id" value="@i.Id">@i.Email</option>
                </optgroup>
            }
        </select>
</section>

<script>
    $("#all").click(function () {
        $('#all').removeClass('FilterButton');
        $('#all').siblings().addClass('FilterButton');
        var table = $('#table-1').DataTable();
        $.fn.dataTable.ext.search.pop();
        table.draw();
    });
    $("#pending").click(function () {
        $('#pending').removeClass('FilterButton');
        $('#pending').siblings().addClass('FilterButton');
        var table = $('#table-1').DataTable();
        $.fn.dataTable.ext.search.pop();
        table.draw();
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                return $(table.row(dataIndex).node()).attr('data-row') == "1";
            }
        );
        table.draw();
    });
    $("#cooking").click(function () {
        $('#cooking').removeClass('FilterButton');
        $('#cooking').siblings().addClass('FilterButton');
        var table = $('#table-1').DataTable();
        $.fn.dataTable.ext.search.pop();
        table.draw();
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                return $(table.row(dataIndex).node()).attr('data-row') == "2";
            }
        );
        table.draw();
    });
    $("#ready_for_pack").click(function () {
        $('#ready_for_pack').removeClass('FilterButton');
        $('#ready_for_pack').siblings().addClass('FilterButton');
        var table = $('#table-1').DataTable();
        $.fn.dataTable.ext.search.pop();
        table.draw();
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                return $(table.row(dataIndex).node()).attr('data-row') == "3";
            }
        );
        table.draw();
    });
    $("#packing").click(function () {
        $('#packing').removeClass('FilterButton');
        $('#packing').siblings().addClass('FilterButton');
        var table = $('#table-1').DataTable();
        $.fn.dataTable.ext.search.pop();
        table.draw();
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                return $(table.row(dataIndex).node()).attr('data-row') == "4";
            }
        );
        table.draw();
    });
    $("#packed").click(function () {
        $('#packed').removeClass('FilterButton');
        $('#packed').siblings().addClass('FilterButton');
        var table = $('#table-1').DataTable();
        $.fn.dataTable.ext.search.pop();
        table.draw();
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                return $(table.row(dataIndex).node()).attr('data-row') == "5";
            }
        );
        table.draw();
    });
    $("#ontheway").click(function () {
        $('#ontheway').removeClass('FilterButton');
        $('#ontheway').siblings().addClass('FilterButton');
        var table = $('#table-1').DataTable();
        $.fn.dataTable.ext.search.pop();
        table.draw();
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                return $(table.row(dataIndex).node()).attr('data-row') == "6";
            }
        );
        table.draw();
    });
    $("#delivered").click(function () {
        $('#delivered').removeClass('FilterButton');
        $('#delivered').siblings().addClass('FilterButton');
        var table = $('#table-1').DataTable();
        $.fn.dataTable.ext.search.pop();
        table.draw();
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                return $(table.row(dataIndex).node()).attr('data-row') == "7";
            }
        );
        table.draw();
    });
    $("#cancelled").click(function () {
        $('#cancelled').removeClass('FilterButton');
        $('#cancelled').siblings().addClass('FilterButton');
        var table = $('#table-1').DataTable();
        $.fn.dataTable.ext.search.pop();
        table.draw();
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                return $(table.row(dataIndex).node()).attr('data-row') == "8";
            }
        );
        table.draw();
    });
</script>
<script>
    function GetProductsDetails(Id) {
        var response = getResponseFromUrl('Get', '/receptionist/Orders/GetProducts?Id=' + Id, null, false);
        if (response.code == 200) {
            var result = response.result;
            var count = 0;
            if (result.length > 0) {
                $("#table-2").DataTable().destroy();
                $("#dataTable2").html('');
                var price = 0;
                result.forEach(function (doc) {
                    count++;
                    var data = doc;
                    console.log("list", data.ingredientList);
                    var s = "";
                    var srCount = 0;
                    data.ingredientList.forEach(function(item){
                        s += `<input type="hidden" data-product="${data.productId}" id="p-${srCount}-${data.productId}" value="${item.price}">`;
                        s += `<input type="hidden" data-product="${data.productId}" id="n-${srCount}-${data.productId}" value="${item.ingredientName}">`;
                        s += `<input type="hidden" data-product="${data.productId}" id="q-${srCount}-${data.productId}" value="${item.quantity}">`;
                        srCount++;
                    })

                    var image = `<div class="image-link">
                                    <a class="image-popup-vertical-fit" href="${data.productImage}">
                        <img class="img-responsive thumbnail" src ="${data.productImage}" width="35" height="30">
                                    </a>
                                </div>`;
                    if (data.ingredientList.length != 0) {
                        var ingredients = `<a class="ingredients" style="cursor:pointer" onclick="GetProductsIngredients(${data.productId},${data.ingredientList.length},this)">
                                                <img src="/admin-assets/images/piano/Bg-transparent/Page-2-Image-14-removebg-preview.png" height="35" />
                                            </a>`;
                    }
                    else {
                        var ingredients = 0;
                    }
                    var row = '<tr><td>' + image + '</td><td>' + data.productName + '</td><td  class="text-center">' + ingredients + s+  '</td><td>' + data.quantity + '</td><td>$' + data.total_price + '</td></tr>';
                    price += data.total_price;
                    $('#dataTable2').append(row);
                })
                $('#TotalPrice').html("$" + price);
                $('#table-2').DataTable();
                $('#PrdDtls').modal("show");
            }
        }
        else {
            console.log(response);
            sweetMessage("Error!", response.shortMessage + "<br>" + response.result, "error");
        }
    }
    function GetProductsIngredients(productId, num,element) {
        console.log(productId, num);
        $('#IngredientsBody').html("");
        for (var i = 0; i < num; i++) {
            var price = $('#p-' + i + "-" + productId).val();
            var quantity = $('#q-' + i + "-" + productId).val();
            var name = $('#n-' + i + "-" + productId).val();

            $('#IngredientsBody').append(` <div class="col-md-12">
                                <label>${name}:</label><span class="float-right">${price} (${quantity})</span>
                            </div>`);
        }
        $('#ingredients').modal('show');
    }

    function AssignStaff(num, OrderId, Id) {
        $('#UserAppend').selectpicker('destroy');
        var s = $('#UserSelect > optgroup[label="' + num + '"] > option').clone();
        $('#UserAppend').html(s);
        $('#TempId').val(Id);
        $('#TempOrderId').html("#" + OrderId);
        
        $('#UserAppend').select2();
        $('#assignOrder').modal('show');
    }
    function AssignFunction() {
        var userSelect = $('#UserAppend').val();
        var orderId = $('#TempId').val();
        var response = getResponseFromUrl('Get', '/receptionist/Orders/AssignPerson?Id=' + orderId + '&userId=' + userSelect, null, false);
        if (response.code == 200) {
            MixinSweet("Successfully assigned", "", "success", 2000);
            setTimeout(function () {
                location.reload();
            }, 1000);
        }
        else {
            sweetMessage(res.shortMessage, "", "warning");
        }
    }
</script>
<!--Ajax-->
<script>
    var getResponseFromUrl = function (requestType, requestUrl, requestData, async) {
        var response;
        $.ajax({
            type: requestType,
            url: requestUrl,
            data: requestData,
            async: false,
            processData: false,
            contentType: false,
            success: function (data) {
                response = data;
            },
            error: function (error) {
                return error;
            },
        });
        return response;
    }
</script>