@model IEnumerable<Entities.GetOrderdetails>;
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Receptionist/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-12">
                <h2>
                    Orders Detail
                </h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        <div>
                            <button id="all" class="btn-sm btn-primary rounded font-12 mt-2">All</button>
                            <button id="pending" class="btn-sm btn-primary FilterButton rounded font-12 mt-2">Waitng</button>
                            <button id="cooking" class="btn-sm btn-primary FilterButton rounded font-12 mt-2">In-process</button>
                            <button id="ready_for_pack" class="btn-sm btn-primary FilterButton rounded font-12 mt-2">Ready for Pack</button>
                            <button id="packed" class="btn-sm btn-primary FilterButton rounded font-12 mt-2">Packed</button>
                            <button id="ontheway" class="btn-sm btn-primary FilterButton rounded font-12 mt-2">On the Way</button>
                            <button id="delivered" class="btn-sm btn-primary FilterButton rounded font-12 mt-2">delivered</button>
                            <button id="cancelled" class="btn-sm btn-primary FilterButton rounded font-12 mt-2">Cancelled</button>
                        </div>
                    </div>
                    <div class="body">
                        <div class="">
                            <table id="table-1" class="table js-basic-example dataTable table-responsive">
                                <thead class="no-wrap">
                                    <tr>
                                        <th>Order Id</th>
                                        <th>Customer Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Products Detail</th>
                                        <th data-breakpoints="sm xs">Assigned Person</th>
                                        <th data-breakpoints="sm xs">Datetime</th>
                                        <th data-breakpoints="sm xs">Amount</th>
                                        <th data-breakpoints="sm xs">Status</th>
                                    </tr>
                                </thead>

                                <tbody class="no-wrap">
                                    @foreach (var i in Model)
                                    {
                                        if (i.Status == Entities.Enum.OrderType.Waiting)
                                        {
                                            <tr data-row="1">
                                                <td>#@i.OrderId</td>
                                                <td>
                                                    <span class="w-space-no ml-2">@i.Username</span>
                                                </td>
                                                <td>@i.UserEmail</td>
                                                <td>@i.PhoneNumber</td>
                                                <td class="align-middle text-center">
                                                    <a class="description" style="cursor:pointer" onclick="GetProductsDetails(@i.Id)"><img src="~/admin-assets/images/piano/Bg-transparent/Page-2-Image-14-removebg-preview.png" height="35" /></a>
                                                </td>
                                                <td>
                                                    <span class="w-space-no ml-2 text-warning">Unassigned</span>
                                                </td>
                                                <td class="align-middle">@i.CreatedAt</td>
                                                <td class="align-middle">$@i.TotalPrice</td>
                                                <td class="align-middle">
                                                    <span class="text-warning">Waiting </span>
                                                    <a data-toggle="modal" data-target="#assignOrder" style="cursor:pointer" title="Assign Cook" class="bg-white text-secondary border-0  rounded fas fa-user-tie text-white"></a>
                                                </td>
                                            </tr>
                                        }
                                        else if (i.Status == Entities.Enum.OrderType.Cooking)
                                        {
                                            <tr data-row="2">
                                                <td>#@i.OrderId</td>
                                                <td>
                                                    <span class="w-space-no ml-2">@i.Username</span>
                                                </td>
                                                <td>@i.UserEmail</td>
                                                <td>@i.PhoneNumber</td>
                                                <td class="align-middle text-center">
                                                    <a class="description" style="cursor:pointer" onclick="GetProductsDetails(@i.Id)"><img src="~/admin-assets/images/piano/Bg-transparent/Page-2-Image-14-removebg-preview.png" height="35" /></a>
                                                </td>
                                                <td>
                                                    <span class="w-space-no ml-2">@i.AssigneeName</span>
                                                </td>
                                                <td class="align-middle">@i.CreatedAt</td>
                                                <td class="align-middle">$@i.TotalPrice</td>
                                                <td class="align-middle">
                                                    <span class="col-cyan">Cooking</span>
                                                </td>
                                            </tr>
                                        }
                                        else if (i.Status == Entities.Enum.OrderType.ReadyForPacking)
                                        {
                                            <tr data-row="3">
                                                <td>#@i.OrderId</td>
                                                <td>
                                                    <span class="w-space-no ml-2">@i.Username</span>
                                                </td>
                                                <td>@i.UserEmail</td>
                                                <td>@i.PhoneNumber</td>
                                                <td class="align-middle text-center">
                                                    <a class="description" style="cursor:pointer" onclick="GetProductsDetails(@i.Id)"><img src="~/admin-assets/images/piano/Bg-transparent/Page-2-Image-14-removebg-preview.png" height="35" /></a>
                                                </td>
                                                <td>
                                                    <span class="w-space-no ml-2 text-warning">Unassigned</span>
                                                </td>
                                                <td class="align-middle">@i.CreatedAt</td>
                                                <td class="align-middle">$@i.TotalPrice</td>
                                                <td class="align-middle">
                                                    <span class="col-light-blue">Ready for Pack </span><a data-toggle="modal" data-target="#assignOrder" style="cursor:pointer" title="Assign Delivery Boy" class="bg-white text-secondary border-0  rounded fas fa-user-tie text-white"></a>
                                                </td>
                                            </tr>
                                        }
                                        else if (i.Status == Entities.Enum.OrderType.Packing)
                                        {
                                            <tr data-row="4">
                                                <td>#@i.OrderId</td>
                                                <td>
                                                    <span class="w-space-no ml-2">@i.Username</span>
                                                </td>
                                                <td>@i.UserEmail</td>
                                                <td>@i.PhoneNumber</td>
                                                <td class="align-middle text-center">
                                                    <a class="description" style="cursor:pointer" data-toggle="modal" data-target="#PrdDtls"><img src="~/admin-assets/images/piano/Bg-transparent/Page-2-Image-14-removebg-preview.png" height="35" /></a>
                                                </td>
                                                <td>
                                                    <span class="w-space-no ml-2 text-warning">@i.AssigneeName</span>
                                                </td>
                                                <td class="align-middle">@i.CreatedAt</td>
                                                <td class="align-middle">$@i.TotalPrice</td>
                                                <td class="align-middle">
                                                    <span class="col-light-blue">Ready for Pack </span>
                                                </td>
                                            </tr>
                                        }
                                        else if (i.Status == Entities.Enum.OrderType.ReadyToDeliver)
                                        {
                                            <tr data-row="5">
                                                <td>#@i.OrderId</td>
                                                <td>
                                                    <span class="w-space-no ml-2">@i.Username</span>
                                                </td>
                                                <td>@i.UserEmail</td>
                                                <td>@i.PhoneNumber</td>
                                                <td class="align-middle text-center">
                                                    <a class="description" style="cursor:pointer" data-toggle="modal" data-target="#PrdDtls"><img src="~/admin-assets/images/piano/Bg-transparent/Page-2-Image-14-removebg-preview.png" height="35" /></a>
                                                </td>
                                                <td>
                                                    <span class="w-space-no ml-2 text-warning">Unassigned</span>
                                                </td>
                                                <td class="align-middle">@i.CreatedAt</td>
                                                <td class="align-middle">$@i.TotalPrice</td>
                                                <td class="align-middle">
                                                    <span class="text-primary">Ready To Deliver</span>
                                                </td>
                                            </tr>
                                        }
                                        else if (i.Status == Entities.Enum.OrderType.OnTheWay)
                                        {
                                            <tr data-row="6">
                                                <td>#@i.OrderId</td>
                                                <td>
                                                    <span class="w-space-no ml-2">@i.Username</span>
                                                </td>
                                                <td>@i.UserEmail</td>
                                                <td>@i.PhoneNumber</td>
                                                <td class="align-middle text-center">
                                                    <a class="description" style="cursor:pointer" data-toggle="modal" data-target="#PrdDtls"><img src="~/admin-assets/images/piano/Bg-transparent/Page-2-Image-14-removebg-preview.png" height="35" /></a>
                                                </td>
                                                <td>
                                                    <span class="w-space-no ml-2 text-warning">@i.AssigneeName</span>
                                                </td>
                                                <td class="align-middle">@i.CreatedAt</td>
                                                <td class="align-middle">$@i.TotalPrice</td>
                                                <td class="align-middle">
                                                    <span class="text-primary">On the Way</span>
                                                </td>
                                            </tr>
                                        }
                                        else if (i.Status == Entities.Enum.OrderType.Delivered)
                                        {
                                            <tr data-row="7">
                                                <td>#@i.OrderId</td>
                                                <td>
                                                    <span class="w-space-no ml-2">@i.Username</span>
                                                </td>
                                                <td>@i.UserEmail</td>
                                                <td>@i.PhoneNumber</td>
                                                <td class="align-middle text-center">
                                                    <a class="description" style="cursor:pointer" data-toggle="modal" data-target="#PrdDtls"><img src="~/admin-assets/images/piano/Bg-transparent/Page-2-Image-14-removebg-preview.png" height="35" /></a>
                                                </td>
                                                <td>
                                                    <span class="w-space-no ml-2 text-warning">-</span>
                                                </td>
                                                <td class="align-middle">@i.CreatedAt</td>
                                                <td class="align-middle">$@i.TotalPrice</td>
                                                <td class="align-middle">
                                                    <span class="text-success">Delivered </span>
                                                </td>
                                            </tr>
                                        }
                                        else if (i.Status == Entities.Enum.OrderType.Cancelled)
                                        {
                                            <tr data-row="8">
                                                <td>#@i.OrderId</td>
                                                <td>
                                                    <span class="w-space-no ml-2">@i.Username</span>
                                                </td>
                                                <td>@i.UserEmail</td>
                                                <td>@i.PhoneNumber</td>
                                                <td class="align-middle text-center">
                                                    <a class="description" style="cursor:pointer" data-toggle="modal" data-target="#PrdDtls"><img src="~/admin-assets/images/piano/Bg-transparent/Page-2-Image-14-removebg-preview.png" height="35" /></a>
                                                </td>
                                                <td>
                                                    <span class="w-space-no ml-2 text-warning">-</span>
                                                </td>
                                                <td class="align-middle">@i.CreatedAt</td>
                                                <td class="align-middle">$@i.TotalPrice</td>
                                                <td class="align-middle">
                                                    <span class="text-danger">Cancelled</span>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bs-example-modal-md mt-5" id="assignOrder" tabindex="-1" role="dialog" aria-labelledby="assignOrder" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="formModal">Assign Order</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex flex-row">
                                    <label>Order Id:<span class="ml-2">#123456</span></label>
                                </div>
                            </div>
                            <div class="col-12">
                                <label>Select Cook</label>
                                <select class="form-group form-float show-tick w-100">
                                    <option value="" disabled selected>-- Select Cook</option>
                                    <option value="">Alex Doe</option>
                                    <option value="">John Doe</option>
                                </select>
                            </div>
                        </div>

                        <div>
                            <button onclick="Status()" class="btn btn-success float-right right">Assign</button>
                        </div>

                    </div>
                </div>
            </div><!-- /.modal -->
        </div>

        <div class="modal fade bs-example-modal-md mt-5" id="PrdDtls" tabindex="-1" role="dialog" aria-labelledby="PrdDtls" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="formModal">Products Detail</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table id="table-2" class="table js-basic-example dataTable">
                                <thead class="no-wrap">
                                    <tr>
                                        <th>Image</th>
                                        <th>Product Name</th>
                                        <th data-breakpoints="sm xs" class="text-center">Ingredients</th>
                                        <th data-breakpoints="xs">Quantity</th>
                                        <th data-breakpoints="xs">Amount</th>
                                    </tr>
                                </thead>
                                <tbody id="dataTable2" class="no-wrap">
                                </tbody>
                                <tfoot>
                                    <tr><th rowspan="1" colspan="5">Total Bill</th><th rowspan="1" colspan="1">$31.00</th></tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal -->
        </div>
        <!-- #END# Exportable Table -->
        <div class="modal fade bs-example-modal-md mt-5" id="des" tabindex="-1" role="dialog" aria-labelledby="des" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="formModal">Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <textarea readonly class="w-100 border-0"> Sample Details</textarea>
                            </div>
                        </div>

                    </div>
                </div>
            </div><!-- /.modal -->
        </div>

        <div class="modal fade bs-example-modal-md mt-5" id="ingredients" tabindex="-1" role="dialog" aria-labelledby="ingredients" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="formModal">Ingredients</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Extra Topping:</label><span class="float-right">$25</span>
                            </div>
                            <div class="col-md-12">
                                <label>Extra Topping:</label><span class="float-right">$25</span>
                            </div>
                            <div class="col-md-12">
                                <label>Extra Topping:</label><span class="float-right">$25</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div><!-- /.modal -->
        </div>
    </div>
</section>

<script>
    $("#all").click(function () {
        $('#all').removeClass('FilterButton');
        $('#all').siblings().addClass('FilterButton');
        var table = $('#table-1').DataTable();
        $.fn.dataTable.ext.search.pop();
        table.draw();
    });
    $("#pending").click(function () {
        $('#pending').removeClass('FilterButton');
        $('#pending').siblings().addClass('FilterButton');
        var table = $('#table-1').DataTable();
        $.fn.dataTable.ext.search.pop();
        table.draw();
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                return $(table.row(dataIndex).node()).attr('data-row') == "1";
            }
        );
        table.draw();
    });
    $("#cooking").click(function () {
        $('#cooking').removeClass('FilterButton');
        $('#cooking').siblings().addClass('FilterButton');
        var table = $('#table-1').DataTable();
        $.fn.dataTable.ext.search.pop();
        table.draw();
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                return $(table.row(dataIndex).node()).attr('data-row') == "2";
            }
        );
        table.draw();
    });
    $("#ready_for_pack").click(function () {
        $('#ready_for_pack').removeClass('FilterButton');
        $('#ready_for_pack').siblings().addClass('FilterButton');
        var table = $('#table-1').DataTable();
        $.fn.dataTable.ext.search.pop();
        table.draw();
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                return $(table.row(dataIndex).node()).attr('data-row') == "3";
            }
        );
        table.draw();
    });
    $("#packed").click(function () {
        $('#packed').removeClass('FilterButton');
        $('#packed').siblings().addClass('FilterButton');
        var table = $('#table-1').DataTable();
        $.fn.dataTable.ext.search.pop();
        table.draw();
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                return $(table.row(dataIndex).node()).attr('data-row') == "4";
            }
        );
        table.draw();
    });
    $("#ontheway").click(function () {
        $('#ontheway').removeClass('FilterButton');
        $('#ontheway').siblings().addClass('FilterButton');
        var table = $('#table-1').DataTable();
        $.fn.dataTable.ext.search.pop();
        table.draw();
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                return $(table.row(dataIndex).node()).attr('data-row') == "5";
            }
        );
        table.draw();
    });
    $("#delivered").click(function () {
        $('#delivered').removeClass('FilterButton');
        $('#delivered').siblings().addClass('FilterButton');
        var table = $('#table-1').DataTable();
        $.fn.dataTable.ext.search.pop();
        table.draw();
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                return $(table.row(dataIndex).node()).attr('data-row') == "6";
            }
        );
        table.draw();
    });
    $("#cancelled").click(function () {
        $('#cancelled').removeClass('FilterButton');
        $('#cancelled').siblings().addClass('FilterButton');
        var table = $('#table-1').DataTable();
        $.fn.dataTable.ext.search.pop();
        table.draw();
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                return $(table.row(dataIndex).node()).attr('data-row') == "7";
            }
        );
        table.draw();
    });
</script>
<script>
    function GetProductsDetails(Id) {
        var response = getResponseFromUrl('Get', '/receptionist/Orders/GetProducts?Id=' + Id, null, false);
        if (response.code == 200) {
            var result = response.result;
            var count = 0;
            if (result.length > 0) {
                $("#table-2").DataTable().destroy();
                $("#dataTable2").html('');
                result.forEach(function (doc) {
                    count++;
                    var data = doc;
                    var image = `<div class="image-link">
                                    <a class="image-popup-vertical-fit" href="${data.productImage}">
                        <img class="img-responsive thumbnail" src ="${data.productImage}" width="35" height="30">
                                    </a>
                                </div>`;
                    var ingredients = `<a class="ingredients" style="cursor:pointer" data-toggle="modal" data-target="#ingredients">
                                                <img src="~/admin-assets/images/piano/Bg-transparent/Ingredient-removebg-preview.png" height="35" />
                                            </a>`;
                    var row = '<tr><td>' + image + '</td><td>' + data.productName + '</td><td>' + ingredients + '</td><td>' + data.quantity + '</td><td>' + data.total_price + '</td></tr>';
                    $('#dataTable2').append(row);
                })
                $('#table-2').DataTable();
                $('#PrdDtls').modal("show");
            }
        }
        else {
            console.log(response);
            sweetMessage("Error!", response.shortMessage + "<br>" + response.result, "error");
        }
    }
</script>
<!--Ajax-->
<script>
    var getResponseFromUrl = function (requestType, requestUrl, requestData, async) {
        var response;
        $.ajax({
            type: requestType,
            url: requestUrl,
            data: requestData,
            async: false,
            processData: false,
            contentType: false,
            success: function (data) {
                response = data;
            },
            error: function (error) {
                return error;
            },
        });
        return response;
    }
</script>