@model IEnumerable<Entities.GetOrderdetails>;
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/PackerStaff/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-12">
                <h2>
                    Orders Detail
                </h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        <div>

                        </div>
                    </div>
                    <div class="body">
                        <div class="">
                            <table id="table-1" class="table js-basic-example dataTable table-responsive">
                                <thead class="no-wrap">
                                    <tr>
                                        <th>Order Id</th>
                                        <th>Email</th>
                                        <th data-breakpoints="sm xs">Datetime</th>
                                        <th data-breakpoints="sm xs">Amount</th>
                                        <th>Products Detail</th>
                                        <th>Elapsed Time</th>
                                        <th>Start Time</th>
                                        <th>End Time</th>
                                    </tr>
                                </thead>
                                <tbody class="no-wrap">
                                    @foreach (var i in Model)
                                    {
                                        <tr data-row="1">
                                            <td>#@i.OrderId</td>
                                            <td>@i.UserEmail</td>
                                            <td class="align-middle">@i.CreatedAt</td>
                                            <td class="align-middle">$@i.TotalPrice</td>
                                            <td class="align-middle text-center">
                                                <a class="description" style="cursor:pointer" onclick="GetProductsDetails(@i.Id)"><img src="~/admin-assets/images/piano/Bg-transparent/Page-2-Image-14-removebg-preview.png" height="35" /></a>
                                            </td>
                                            <td class="align-middle">@i.ElaspedTime</td>
                                            <td class="align-middle">@i.StartTime</td>
                                            <td class="align-middle">@i.EndTime</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bs-example-modal-md mt-5" id="PrdDtls" tabindex="-1" role="dialog" aria-labelledby="PrdDtls" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="formModal">Products Detail</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table id="table-2" class="table js-basic-example dataTable">
                                <thead class="no-wrap">
                                    <tr>
                                        <th>Image</th>
                                        <th>Product Name</th>
                                        <th data-breakpoints="sm xs" class="text-center">Ingredients</th>
                                        <th data-breakpoints="xs">Quantity</th>
                                        <th data-breakpoints="xs">Amount</th>
                                    </tr>
                                </thead>
                                <tbody id="dataTable2" class="no-wrap">
                                </tbody>
                                <tfoot>
                                    <tr><th colspan="4">Total Bill</th><th rowspan="1" colspan="1" id="TotalPrice">$31.00</th></tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal -->
        </div>
        <!-- #END# Exportable Table -->
        <div class="modal fade bs-example-modal-md mt-5" id="des" tabindex="-1" role="dialog" aria-labelledby="des" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="formModal">Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <textarea readonly class="w-100 border-0"> Sample Details</textarea>
                            </div>
                        </div>

                    </div>
                </div>
            </div><!-- /.modal -->
        </div>

        <div class="modal fade bs-example-modal-md mt-5" id="ingredients" tabindex="-1" role="dialog" aria-labelledby="ingredients" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="formModal">Ingredients</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row" id="IngredientsBody">

                        </div>
                    </div>
                </div><!-- /.modal -->
            </div>
        </div>

    </div>
</section>

<script>
    function GetProductsDetails(Id) {
        var response = getResponseFromUrl('Get', '/packerStaff/Orders/GetProducts?Id=' + Id, null, false);
        if (response.code == 200) {
            var result = response.result;
            var count = 0;
            if (result.length > 0) {
                $("#table-2").DataTable().destroy();
                $("#dataTable2").html('');
                var price = 0;
                result.forEach(function (doc) {
                    count++;
                    var data = doc;
                    console.log("list", data.ingredientList);
                    var s = "";
                    var srCount = 0;
                    data.ingredientList.forEach(function (item) {
                        s += `<input type="hidden" data-product="${data.productId}" id="p-${srCount}-${data.productId}" value="${item.price}">`;
                        s += `<input type="hidden" data-product="${data.productId}" id="n-${srCount}-${data.productId}" value="${item.ingredientName}">`;
                        s += `<input type="hidden" data-product="${data.productId}" id="q-${srCount}-${data.productId}" value="${item.quantity}">`;
                        srCount++;
                    })

                    var image = `<div class="image-link">
                                    <a class="image-popup-vertical-fit" href="${data.productImage}">
                        <img class="img-responsive thumbnail" src ="${data.productImage}" width="35" height="30">
                                    </a>
                                </div>`;
                    if (data.ingredientList.length != 0) {
                        var ingredients = `<a class="ingredients" style="cursor:pointer" onclick="GetProductsIngredients(${data.productId},${data.ingredientList.length},this)">
                                                <img src="/admin-assets/images/piano/Bg-transparent/Page-2-Image-14-removebg-preview.png" height="35" />
                                            </a>`;
                    }
                    else {
                        var ingredients = 0;
                    }
                    var row = '<tr><td>' + image + '</td><td>' + data.productName + '</td><td  class="text-center">' + ingredients + s + '</td><td>' + data.quantity + '</td><td>$' + data.total_price + '</td></tr>';
                    price += data.total_price;
                    $('#dataTable2').append(row);
                })
                $('#TotalPrice').html("$" + price);
                $('#table-2').DataTable();
                $('#PrdDtls').modal("show");
            }
        }
        else {
            console.log(response);
            sweetMessage("Error!", response.shortMessage + "<br>" + response.result, "error");
        }
    }
    function GetProductsIngredients(productId, num, element) {
        console.log(productId, num);
        $('#IngredientsBody').html("");
        for (var i = 0; i < num; i++) {
            var price = $('#p-' + i + "-" + productId).val();
            var quantity = $('#q-' + i + "-" + productId).val();
            var name = $('#n-' + i + "-" + productId).val();

            $('#IngredientsBody').append(` <div class="col-md-12">
                                <label>${name}:</label><span class="float-right">${price} (${quantity})</span>
                            </div>`);
        }
        $('#ingredients').modal('show');
    }

</script>
<!--Ajax-->
<script>
    var getResponseFromUrl = function (requestType, requestUrl, requestData, async) {
        var response;
        $.ajax({
            type: requestType,
            url: requestUrl,
            data: requestData,
            async: false,
            processData: false,
            contentType: false,
            success: function (data) {
                response = data;
            },
            error: function (error) {
                return error;
            },
        });
        return response;
    }
</script>