@model IEnumerable<Entities.ProfileDtos>
@inject piano_pizza.Resources.LocalizationService local
@{
    Layout = "~/Areas/SuperAdmin/Views/Shared/_Layout.cshtml";
}
<link href="~/assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css" rel="stylesheet" />
<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-12">
                <h5>@local.GetLocalizedHtmlString("UsersDetail")</h5>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        <div>
                            <button id="all" class="btn-sm btn-primary rounded font-12 mt-2">@local.GetLocalizedHtmlString("All")</button>
                            <button id="active" class="btn-sm btn-primary FilterButton rounded font-12 mt-2">@local.GetLocalizedHtmlString("Active")</button>
                            <button id="block" class="btn-sm btn-primary FilterButton rounded font-12 mt-2">@local.GetLocalizedHtmlString("Blocked")</button>
                        </div>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                <thead style="white-space:nowrap">
                                    <tr>
                                        <th>@local.GetLocalizedHtmlString("Name")</th>
                                        <th>@local.GetLocalizedHtmlString("Email")</th>
                                        <th>@local.GetLocalizedHtmlString("PhoneNumber")</th>
                                        <th>@local.GetLocalizedHtmlString("Status")</th>
                                        <th class="text-center">@local.GetLocalizedHtmlString("Action")</th>
                                    </tr>
                                </thead>
                                <tbody style="white-space:nowrap">
                                    @foreach (var i in Model)
                                    {
                                        if (i.Status == Entities.Enum.UserStatus.Active)
                                        {
                                            <tr data-row="1">
                                                <td>
                                                    @if (i.ProfileImageUrl != null && i.ProfileImageUrl != "Not Uploaded")
                                                    {
                                                        <div>
                                                            <a class="image-popup-vertical-fit" href="@i.ProfileImageUrl">
                                                                <img class="img-responsive thumbnail" src="@i.ProfileImageUrl" width="35" height="30">
                                                            </a>
                                                        </div>
                                                        <a href="@i.ProfileImageUrl">
                                                            <img class="rounded shadow" src="@i.ProfileImageUrl" height="35">
                                                        </a>
                                                        <span class="w-space-no ml-2">@i.FullName</span>
                                                    }
                                                    else
                                                    {
                                                        <img class="img-responsive thumbnail" src="/default.png" width="35" height="30">
                                                    }
                                                </td>
                                                <td>@i.Email</td>
                                                <td>@i.Phone</td>
                                                <td>
                                                    <div class="badge badge-success badge-shadow badge_width_height">Active</div>
                                                </td>
                                                <td class="text-center">
                                                    <div style="display:flex;flex-direction:row">
                                                        <a onclick="showBlockModal('@i.Id')" class="btn-sm btn-danger m-auto"><i class="fas fa-user-slash text-white"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr data-row="2">
                                                <td>
                                                    @if (i.ProfileImageUrl != null && i.ProfileImageUrl != "Not Uploaded")
                                                    {
                                                        <div>
                                                            <a class="image-popup-vertical-fit" href="@i.ProfileImageUrl">
                                                                <img class="img-responsive thumbnail" src="@i.ProfileImageUrl" width="35" height="30">
                                                            </a>
                                                        </div>
                                                        <a href="@i.ProfileImageUrl">
                                                            <img class="rounded shadow" src="@i.ProfileImageUrl" height="35">
                                                        </a>
                                                        <span class="w-space-no ml-2">@i.FullName</span>
                                                    }
                                                    else
                                                    {
                                                        <img class="img-responsive thumbnail" src="/default.png" width="35" height="30">
                                                    }
                                                </td>
                                                <td>@i.Email</td>
                                                <td>@i.Phone</td>
                                                <td>
                                                    <div class="badge badge-danger badge-shadow badge_width_height">Blocked</div>
                                                </td>
                                                <td class="text-center">
                                                    <div style="display:flex;flex-direction:row">
                                                        <a onclick="showUnBlockModal('@i.Id')" class="btn-sm btn-success m-auto"><i class="fas fa-user-check text-white"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>

<script>
    $('#Usr').addClass('active');
    $('#Usr').addClass('open');
    $(function () {
        var table = $('#table-1').DataTable({
            //scrollY: "300px",
            //scrollX: true,
            //scrollCollapse: true,
            //fixedColumns: {
            //left: 2,
            //right: 1
            //}
        });
        $.fn.dataTable.ext.search.pop();
        table.draw();
        $('#all').removeClass('FilterButton');
        $('#all').siblings().addClass('FilterButton');
    })
    $("#active").click(function () {
        $('#active').removeClass('FilterButton');
        $('#active').siblings().addClass('FilterButton');
        var table = $('#table-1').DataTable();
        $.fn.dataTable.ext.search.pop();
        table.draw();
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                return $(table.row(dataIndex).node()).attr('data-row') == "1";
            }
        );
        table.draw();
    });
    $("#all").click(function () {
        $('#all').removeClass('FilterButton');
        $('#all').siblings().addClass('FilterButton');
        var table = $('#table-1').DataTable();
        $.fn.dataTable.ext.search.pop();
        table.draw();
    });
    $("#block").click(function () {
        $('#block').removeClass('FilterButton');
        $('#block').siblings().addClass('FilterButton');
        var table = $('#table-1').DataTable();
        $.fn.dataTable.ext.search.pop();
        table.draw();
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                return $(table.row(dataIndex).node()).attr('data-row') == "2";
            }
        );
        table.draw();

    });
</script>

<script>
    function showBlockModal(doc_id) {
        $('#docId').val(doc_id);
        Swal.fire({
            title: 'Are you sure you want to block?',
            text: "",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Confirm!'
        }).then((result) => {
            if (result.isConfirmed) {
                blockUser();
            }
        })
    }
    function showUnBlockModal(doc_id) {
        $('#unBlockDocId').val(doc_id);
        Swal.fire({
            title: 'Are you sure you want to unblock?',
            text: "",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Confirm!'
        }).then((result) => {
            if (result.isConfirmed) {
                unBlockUser();
            }
        })
    }
    function blockUser() {
        var Id = $('#docId').val();
        var response = getResponseFromUrl('GET', '/SuperAdmin/Users/BlockUser?id=' + Id);
        if (response.code == 200) {
            TimerSweet("Customer Blocked!", 'Customer is successfully blocked', "success", 2000);
            setTimeout(function () {
                location.reload();
            }, 2000);
        }
        else {
            sweetMessage("Error!", response.shortMessage, "error");
        }
    }
    function unBlockUser() {
        var Id = $('#unBlockDocId').val();
        var response = getResponseFromUrl('GET', '/SuperAdmin/Users/UnBlockUser?id=' + Id);
        if (response.code == 200) {
            TimerSweet("Customer Unblocked!", 'Customer is successfully unblocked', "success", 2000);
            setTimeout(function () {
                location.reload();
            }, 2000);
        }
        else {
            sweetMessage("Error!", response.shortMessage, "error");
        }
    }
</script>
<!--Ajax-->
<script>
    var getResponseFromUrl = function (requestType, requestUrl, requestData) {
        var response;
        $.ajax({
            type: requestType,
            url: requestUrl,
            data: requestData,
            data: requestData,
            async: false,
            processData: false,
            contentType: false,
            success: function (data) {
                response = data;
                console.log(data);
            },
            error: function (error) {
                return error;
            },
        });
        return response;
    }
</script>